package ${package}.service.${moduleName};

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${moduleName}.${className};
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    /**
     * 查询${comments}
     *
     * @param id
     * @return ${comments}
     */
    @Override
    ${className} getById(Long id);

    /**
     * 根据条件查询
     * @param ${classname}
     * @return
     */
    List<${className}> selectByCondition(${className} ${classname});

    /**
     * 新增${comments}
     *
     * @param ${classname} ${comments}
     * @return 结果
     */
    ${className} save(${className} ${classname});

    /**
     * 修改${comments}
     *
     * @param ${classname} ${comments}
     * @return 结果
     */
    ${className} updateById(${className} ${classname});

    /**
     * 删除${comments}
     *
     * @param ${pk.attrname} ${comments}ID
     * @return 结果
     */
    @Override
    boolean removeById(Long id);

    /**
     * 批量删除${comments}
     *
     * @param idList 需要删除的数据ID集合
     * @return 结果
     */
    @Override
    boolean removeByIds(List<Long> idList);
}

